/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}

header .container {
    display: flex;
    padding: 1em 0;
    align-items: space-between;
}

.container h1 {
    font-size: 1em;
    margin: 0;
    flex: 1;
}

.container ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0;
    list-style: none;
}

.overview-hero {
    background-color: #E2E8F0;
}